/* Breadcrumb */

.breadcrumb-wrapper {
  .small-breadcrumb {
    @include flex(flex-start, center);
    flex-wrap: wrap;
    margin-top: 20px;

    .breadcrumb-link {
      font-weight: 600;
      display: inline-block;
      color: $black;
      font-size: 12px;
      padding-bottom: 5px;
      @include border-bottom($gray);

      &:hover {
        border-color: $black;
      }
    }

    .breadcrumb-separator {
      vertical-align: middle;
      color: $gray;
      margin: 0 7px;
    }
  }

  .current-page {
    margin-top: 30px;
  }
}

/* Product list */

.product-list-wrapper {
  .collapse-filter-panel {
    margin-bottom: 10px;

    & > .ant-collapse-item {
      border-bottom: none;
    }

    @media (min-width: $lg) {
      display: none;
    }

    & .ant-collapse-header:first-of-type {
      padding: 5px 0 !important;
    }

    @media (min-width: $md) {
      & .ant-collapse-header:first-of-type {
        padding: 10px 0 !important;
      }
    }

    .collapse-filter-btn {
      font-weight: 700;
      padding: 0 10px;

      @media (max-width: $sm) {
        padding: 0 5px;
      }

      i {
        margin-right: 10px;
      }
    }

    .ant-collapse-content-box {
      padding: 0;
    }
  }

  .visible-filter-panel {
    display: none;

    @media (min-width: $lg) {
      display: block;
    }
  }

  .filter-panel {
    padding-right: 20px;
    margin-bottom: 20px;

    @media (max-width: $lg) {
      padding: 0 10px;
    }

    @media (max-width: $sm) {
      padding: 0 5px;
    }

    .filter-header {
      @include border-bottom($light-gray);
      padding-bottom: 10px;
      position: relative;

      .title-text {
        font-size: 20px;
        font-weight: 700;
      }

      .clear-all {
        margin-top: 10px;

        i {
          margin-right: 10px;
        }
      }

      .selected-items-wrapper {
        margin-top: 30px;

        .selected-item {
          display: inline-block;
          padding: 10px;
          margin: 0 10px 10px 0;
          background: $black;
          color: $white;
          font-size: 13px;

          .delete-filter {
            margin-left: 10px;
            cursor: pointer;

            svg {
              fill: $white;
              font-size: 13px;
            }
          }
        }
      }
    }

    .filter-body {
      .filter-item {
        padding: 10px 0;

        .filter-item-title {
          font-size: 14px;
          font-weight: 700;
        }

        .single-filter {
          text-align: left;
          font-size: 14px;
          margin: 10px 0;
          padding: 0;
          background: transparent;
          outline: none;
          border: none;
          cursor: pointer;
          @include border-bottom(transparent);

          &:hover {
            @include border-bottom($black);
          }
        }

        .ant-collapse-header {
          padding: 10px 0;

          .ant-collapse-arrow svg {
            font-size: 12px;
          }
        }

        .ant-collapse-content-box {
          padding: 10px 0;
        }
      }
    }
  }
}
