* {
  font-family: $main-font;
  font-size: 14px;
  color: $black;

  @media (max-width: $sm) {
    font-size: 14px;
  }
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.section-gap {
  padding: 50px 0;

  @media (max-width: $sm) {
    padding: 30px 0;
  }
}

.first-section-gap {
  padding-top: 80px;
  padding-bottom: 40px;

  @media (max-width: $sm) {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}

.light-bg {
  background: $offwhite;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  font-weight: 700 !important;
}

h1 {
  font-size: 3.5rem;

  @media (max-width: $lg) {
    font-size: 2.2rem;
  }

  @media (max-width: $sm) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2.6rem;

  @media (max-width: $lg) {
    font-size: 2rem;
  }

  @media (max-width: $sm) {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 2rem;

  @media (max-width: $lg) {
    font-size: 1.6rem;
  }

  @media (max-width: $sm) {
    font-size: 1.4rem;
  }
}

p {
  line-height: 1.5;
  margin: 1rem 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.banner-btn {
  @extend .btn;
  background: transparent;
  color: $white;
  @include border(white);

  &:hover {
    background: $white;
    color: $black;
  }
}