/* Banner*/

.home-banner-wrapper {
  height: 100vh;
  
  .single-slide {
    background: url("https://i1.adis.ws/i/lucky/20190912_middleImage");
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100%;
  }

  .content-wrapper {
    position: absolute;
    padding: 3% 5%;
    bottom: 0;
    left: 0;

    .banner-title {
      line-height: 1.5;

      .inner {
        padding: 0 5px;
        margin: 10px 0;
        font-size: inherit !important;
        font-weight: 400 !important;
        background: $white;
      }
    }
  }
}

/* Slider*/

.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  z-index: 2;

  &:before {
    opacity: 0.3;
    font-size: 40px;
  }
}

.slick-prev {
  left: 2%;
}

.slick-next {
  right: 2%;
}

/* Section title*/

.section-title-wrapper {
  margin-bottom: 50px;

  @media (max-width: $sm) {
    margin-bottom: 30px;
  }

  .section-title {
    text-align: center;
  }
}

/* Card*/

.card {
  background: $white;
  padding: 10px;
  @include border(transparent);

  .card-header {
    cursor: pointer;
    @include flex(center, center);
  }

  .card-body {
    padding-top: 40px;

    @media (max-width: $sm) {
      padding-top: 20px;
    }

    .quick-actions {
      visibility: hidden;

      .quick-look {
        @include border-bottom(transparent);

        &:hover {
          cursor: pointer;
          @include border-bottom($black);
        }
      }
    }
  }

  &:hover {
    @include border($dark-gray);

    .quick-actions {
      visibility: visible;
    }
  }
}

/* Collections*/
.collections-wrapper {
  .collections {
    margin-bottom: 1rem;
    .single-collection {
      background: url(../assets/product1.jpg);
      background-size: cover;
      height: 500px;
    }
  }
}
