@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

// Font family
$main-font: 'Montserrat', sans-serif;

// Colors
$main-color: #BA8B3B;
$offwhite: #F9F9F9;
$light-gray: #e5e5e5;
$dark-gray: #777;
$black: #262626;
$white: #fff;

// Responsive points
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
