@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// Font family
$main-font: 'Open Sans', sans-serif;

// Colors
$main-color: #D22030;
$offwhite: #FAFAFA;
$gray: #d6d6d6;
$light-gray: #e5e5e5;
$dark-gray: #777;
$black: #000;
$white: #fff;

// Responsive points
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
